<router-outlet></router-outlet>

<!-- Helper Tag -->
<div class="fadeloadscreen d-none" id="fadeloadscreen">
  <div class="loading">Loading&#8230;</div>
</div>
<div class="position-fixed bg-warning custom-toast" id="toast">
  <i id="ok-flag" class="d-none text-danger far fa-times-circle"></i>
  <i id="fail-flag" class="text-success far fa-check-circle"></i>
  <i id="info-flag" class="d-none fas fa-info-circle"></i>
  <span id="toastmessage"></span>
  <small class="float-right">Powered by: Bottomhalf</small>
</div>
<div class="d-none">
  <!-- chatting -->
</div>
