<div class="right_col">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel full-card">
        <div class="x_title">
          <h2>Subject(s) <small>Add and update subject(s)</small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content col-12 p-0 row m-0 mt-4">

        </div>
      </div>
      <div class="col-md-12 row pl-0 pr-0 m-0">
        <div class="col-md-6 col-xs-12 pr-1 pl-0">
            <div class="x_panel pb-0">
            <div class="x_title">
                <h2>Father detail <small>Father other details</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="form-horizontal form-label-left input_mask">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="subjectcredit">Father first name &nbsp;<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter father's first name">
                        </div>
                        <div class="col-md-6">
                            <label for="subjectcredit">Father first name &nbsp;<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter father's first name">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="subjectcredit">Father email id &nbsp;</label>
                            <input type="text" class="form-control" placeholder="Enter father's email id">
                        </div>
                        <div class="col-md-6">
                            <label for="subjectcredit">Father mobile no.# &nbsp;<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter father's mobile no.#">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="subjectcredit">Mother first name &nbsp;<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter mother's first name">
                        </div>
                        <div class="col-md-6">
                            <label for="subjectcredit">Mother first name &nbsp;<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter mother's first name">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="subjectcredit">Mother email id &nbsp;</label>
                            <input type="text" class="form-control" placeholder="Enter mother's email id">
                        </div>
                        <div class="col-md-6">
                            <label for="subjectcredit">Mother mobile no.# &nbsp;</label>
                            <input type="text" class="form-control" placeholder="Enter mother's mobile no.#">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 pr-0 pl-1">
            <div class="x_panel pb-0">
            <div class="x_title">
                <h2>Mother detail <small>Mother other details</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="form-horizontal form-label-left input_mask">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="subjectcredit">Father first name &nbsp;<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter father's first name">
                        </div>
                        <div class="col-md-6">
                            <label for="subjectcredit">Father first name &nbsp;<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter father's first name">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="subjectcredit">Father email id &nbsp;</label>
                            <input type="text" class="form-control" placeholder="Enter father's email id">
                        </div>
                        <div class="col-md-6">
                            <label for="subjectcredit">Father mobile no.# &nbsp;<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter father's mobile no.#">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="subjectcredit">Mother first name &nbsp;<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter mother's first name">
                        </div>
                        <div class="col-md-6">
                            <label for="subjectcredit">Mother first name &nbsp;<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter mother's first name">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="subjectcredit">Mother email id &nbsp;</label>
                            <input type="text" class="form-control" placeholder="Enter mother's email id">
                        </div>
                        <div class="col-md-6">
                            <label for="subjectcredit">Mother mobile no.# &nbsp;</label>
                            <input type="text" class="form-control" placeholder="Enter mother's mobile no.#">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                </div>
            </div>
            </div>
        </div>
        <br>
        <div class="col-md-12 col-xs-12 pr-0 pl-1">
            <div class="x_panel pb-0">
            <div class="x_title">
                <h2>Other detail <small>Family
                     other details</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="form-horizontal form-label-left input_mask">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="subjectcredit">Father first name &nbsp;<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter father's first name">
                        </div>
                        <div class="col-md-6">
                            <label for="subjectcredit">Father first name &nbsp;<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter father's first name">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="subjectcredit">Father email id &nbsp;</label>
                            <input type="text" class="form-control" placeholder="Enter father's email id">
                        </div>
                        <div class="col-md-6">
                            <label for="subjectcredit">Father mobile no.# &nbsp;<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter father's mobile no.#">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="subjectcredit">Mother first name &nbsp;<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter mother's first name">
                        </div>
                        <div class="col-md-6">
                            <label for="subjectcredit">Mother first name &nbsp;<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter mother's first name">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="subjectcredit">Mother email id &nbsp;</label>
                            <input type="text" class="form-control" placeholder="Enter mother's email id">
                        </div>
                        <div class="col-md-6">
                            <label for="subjectcredit">Mother mobile no.# &nbsp;</label>
                            <input type="text" class="form-control" placeholder="Enter mother's mobile no.#">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  