.setting {
  label {
    text-align: right;
    position: relative;
  }

  .form-group {
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

  .lbl {
    position: absolute;
    bottom: 35px;
    right: 10px;
  }

  .desc {
    border-bottom: 2px solid green;
    position: relative;
  }

  .desc > span {
    position: absolute;
    bottom: 0px;
  }

  .dd-dv {
    height: 4rem;
  }
}

.action {
  position: relative;

  input {
    padding-left: 35px;
  }

  .action i {
    top: -1px;
    position: relative;
  }

  .left {
    position: absolute;
    width: 22px;
    font-size: 16px;
    left: 5px;
    zoom: 1.5;
    text-align: center;
    border-right: 1px solid #d9d9d9;
  }

  .right {
    position: absolute;
    width: 22px;
    font-size: 16px;
    right: 5px;
    top: 8px;
    zoom: 1.5;
    text-align: center;
    padding-right: 2px;
    border-left: 1px solid #d9d9d9;
  }
}

.sm-h {
  height: 32px;
}

.colon {
  font-weight: bold;
  position: relative;
  top: 8px;
}

.lunch-break {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin: 10px 0px 10px 0px;

  .info {
    font-size: 16px;
    padding: 1rem;
  }
}

.card-body {
  padding: 1rem 0.6rem;
}

a.edit-tile:hover {
  cursor: pointer;
}

.edit-tile {
  position: absolute;
  right: 0px;
  width: 20px;
  text-align: center;
}

.edit-section {
  color: #988a8a;
  position: absolute;
  right: 14px;
  top: 16px;

  i {
    font-size: 16px;
  }
}

.edit-mode {
  top: 6px !important;
  color: darkblue !important;
  text-decoration: underline;
}
