.right-box {
  margin-bottom: 14px !important;
}

.b-align {
  position: absolute;
  bottom: 15px;
}

select {
  color: var(--input-color);
}

.profile-dv {
  width: 174px;
  position: absolute;
  top: 75px;
}

.chk-dv {
  line-height: 2.46;
}

.btn-s {
  height: 35px !important;
  border-color: #c2b7b7 !important;
}

.upload-btn {
  position: absolute;
  right: 0px;
  margin-top: 12px;
  cursor: pointer !important;
}

.upload-btn:hover {
  font-size: 15px;
}

.upload-document {
  position: fixed;
  background: rgba(237, 237, 237, 0.32);
  bottom: 0px;
  z-index: 99999;
  right: 0px;
  left: 0px;
  top: 0px;
  margin: auto;
}

.night-bg {
  background: rgba(0, 0, 0, 0.82) !important;
}

.night-bg .card-header,
.card-footer {
  background: rgb(93, 93, 93) !important;
}

.upload-document-dv {
  position: fixed;
  bottom: 0px;
  z-index: 9999999;
  right: 0px;
  left: 0px;
  top: 10%;
  color: #eee !important;
  width: 70%;
  margin: auto;
  border-radius: 4px;
}

.upload-body {
  min-height: 200px;
  top: 10%;
}

img.doc-img {
  width: 4rem;
  height: 4rem;
}

img.doc-img:hover {
  cursor: pointer;
  width: 4.2rem;
  height: 4.2rem;
}

.img-dv {
  min-width: 7rem;
  text-align: center;
  margin-right: 4px;
  padding: 5px;
  padding-bottom: 12px;
  background: #eee;
  padding-top: 10px;
  margin-top: 6px;
}

.del-anc {
  cursor: pointer;
}

.del-anc:hover {
  font-size: 15px;
}

.btn-s {
  border-color: #cac9c9 !important;
}

.shop-doc {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.card-img-top {
  background-size: contain;
  width: 12rem;
  height: 12rem;
}
